<div class="inside_condition">
    <div>
        Condition1
        <%= render NurseWeb.CheckConditionView, "condition.html", condition_map: @first, condition_id: @condition_id, condition_side: "first"%>
    </div>
    <div>
        Condition2
        <%= render NurseWeb.CheckConditionView, "condition.html", condition_map: @second, condition_id: @condition_id, condition_side: "second"%>
    </div>
</div>